* {
    margin: 0;
    padding: 0;
}

body, select {
    color: #4d5068;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.main {
    margin: 5% auto;
    width: 100%;
    max-width: 700px;
}

.container {
    padding: 25px 20px;
}

@media(min-width: 600px) {
    .form__sections {
        display: flex;
        justify-content: space-around;
    }
}

label {
    font-weight: 600;
}

label span {
    color: rgb(245, 109, 109);
}

input {
    outline: none;
}

.input, .input-select {
    height: 40px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid rgba(77, 80, 104, .2);
    color: #4d5068;
}

.input.error {
    border-color: red;
}

form {
    border: 1px solid #dbdce1;
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(0, 161, 255, 0.08);
}

/* #checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
} */

button {
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #5361f0;
    color: #fff;
    text-transform: uppercase;
}

button:active {
    background-color: #5360f077;
}

.form__title {
    margin: 20px 0 20px;
    text-align: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
}

.form__checkbox {
    margin: 45px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* .checkbox__label {
    user-select: none;
} */

.checkbox__lable.error {
    color: rgb(245, 109, 109);; 
}

.btn {
    display: flex;
    justify-content: flex-end;
}

 .error-text {
    color: rgb(245, 109, 109);
    margin: 0;
    display: none; 
} 

#modal {
    display: none;
    background-color: #5361f0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 20px;
    /* width: 500px; */
    border-radius: 8px;
}